.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.fm_btntoggle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 4px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px 0, rgba(0, 0, 0, 0.2) 0 0 0 1px, inset rgba(0, 0, 0, 0.3) 0 0 0 1px, inset rgba(255, 255, 255, 0.3) 0 1px 0 1px;
  text-indent: -99999px;
  overflow: hidden;
  background-color: #02b4e7;
  background-image: -moz-linear-gradient(top, #02c4fb, #029cc8);
  background-image: -ms-linear-gradient(top, #02c4fb, #029cc8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#02c4fb), to(#029cc8));
  background-image: -webkit-linear-gradient(top, #02c4fb, #029cc8);
  background-image: -o-linear-gradient(top, #02c4fb, #029cc8);
  background-image: linear-gradient(top, #02c4fb, #029cc8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02c4fb', endColorstr='#029cc8', GradientType=0);
  z-index: 9999;
  outline: 0;
}
.fm_btntoggle span {
  display: block;
  height: 32px;
  width: 32px;
  background: url(../img/cross.svg) no-repeat center center;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.fm_list {
  margin: 0;
  padding: 0;
  bottom: 18px;
  left: 5px;
  position: absolute;
}
.fm_list li {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fm_list li a {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 30px;
  text-align: center;
  border: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 0, rgba(0, 0, 0, 0.2) 0 0 0 1px, inset rgba(0, 0, 0, 0.5) 0 0 2px 0;
  overflow: hidden;
  background: #444;
}
.fm_list li a i {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.fm_list li a:hover {
  text-decoration: none;
  color: #fff;
}
.fm_rotate span {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.fm_active li a {
  -webkit-animation: expand 0.6s ease 1 backwards;
  -moz-animation: expand 0.6s ease 1 backwards;
  -ms-animation: expand 0.6s ease 1 backwards;
  -o-animation: expand 0.6s ease 1 backwards;
  animation: expand 0.6s ease 1 backwards;
}
@-webkit-keyframes expand {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes expand {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
.fm_wrap {
  width: 145px;
  height: 130px;
  bottom: 32px;
}
.fm_wrap .fm_list {
  bottom: 35px;
}
.fbox_sidebar > .nav_project {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.project_main {
  -webkit-user-select: auto;
}
.project_main .project_panes {
  height: 100%;
}
.project_main .tab-pane {
  padding: 15px;
}
.list_file li {
  float: left;
  display: inline;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.list_file li:hover {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -moz-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -moz-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -moz-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -moz-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -moz-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -moz-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -moz-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee);
  background-image: -o-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -o-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -o-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -o-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -o-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -o-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -o-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -o-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee);
  background-image: -webkit-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -webkit-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -webkit-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -webkit-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -webkit-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -webkit-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -webkit-linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), -webkit-linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee);
  background-image: linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5, #eeeeee 87.5, #eeeeee), linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), linear-gradient(45deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee), linear-gradient(-135deg, transparent 25%, transparent 25%, transparent 87.5%, #eeeeee 87.5%, #eeeeee);
  background-size: 4px 4px;
  background-position: 1px 0, 0 -3px, 4px 1px, -1px -2px, 3px 2px, 2px -1px, 2px 3px, 1px 4px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.list_file li:hover a {
  color: #02c4fb;
}
.list_file a {
  color: #333;
}
.list_file .file_meta {
  color: #999;
}
.mod_status .tip_project {
  left: 200px;
}
